In [2]:
if 7 > 5:
    print(True)
else:
    print(False)

True

In [3]:
if 7 > 8:
    print(True)
else:
    print(False)

False

In [6]:
#数値と文字列を使ってTrue

In [ ]:
#数値と文字列を使ってFalse

In [7]:
if 8 >= 3:
    print(True)
else:
    print(False)

True

In [8]:
if 8 <= 10:
    print(True)
else:
    print(False)

True

In [9]:
if 4 != 3:
    print(True)
else:
    print(False)

True

In [10]:
if 6 < 1:
    print(True)
else:
    print(False)

False

In [11]:
if 4 == 3:
    print(True)
else:
    print(False)

False

In [12]:
if 20 > 90:
    print(True)
else:
    print(False)

False

In [13]:
if 3 and 3:
    print(True)
else:
    print(False)

True

In [14]:
if  4 or 5:
    print(True)
else:
    print(False)

True

In [19]:
if 3 or 10:
    print(True)
else:
    print(False)

True

In [22]:
if False and False:
    print(True)
else:
    print(False)

False

In [23]:
if False and False:
    print(True)
else:
    print(False)

False

In [24]:
if not True:
    print(True)
else:
    print(False)

False

In [28]:
if 'abc' in 'abcde':
    print(True)
else:
    print(False)

True

In [30]:
if 'b' in 'good':
    print(True)
else:
    print(False)

False

In [31]:
x = 1
y = x

if x is y:
    print(True)
else:
    print(False)

True

In [33]:
x = 1
y = 2

if x is y:
    print(True)
else:
    print(False)

False

In [36]:
x = 12

if x % 7 == 0:
    print(True)
elif x % 5 == 0:
    print(True)
else:
    print(False)

False

In [39]:
for i in [0,1,2,3,4,5]:
    print(i)

0
1
2
3
4
5

In [41]:
my_list = [0,1,2,3,4,5]
for i in my_list:
    print(i)

0
1
2
3
4
5

In [42]:
my_list = [0,1,2,3,4,5]
for i in my_list:
    if i % 2 == 0:
        print(i)

0
2
4

In [45]:
my_list = [0,1,2,3,4,5]
for i in my_list:
    if i % 2 == 1:
        print(i)

1
3
5

In [49]:
#for文。3の要素のみ

In [ ]:
#for文。3以外の要素

In [50]:
for i in my_list [2:4]:
    print(i)

2
3

In [ ]:
#for文。'okinawa'だけを表示

In [ ]:
#for文。'tokyo'以外の要素を順番に表示

In [63]:
for i in my_list:
    print(sum(my_list))

15
15
15
15
15
15

In [54]:
x = 0
for i in my_list:
    if i % 2 == 0:
        x += i
print(x)

6

In [64]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [67]:
#for文。range()を使って0~10までを引数に指定し、3までを順番に表示させ終了させる
for i in range(0,4):
    print(i)

0
1
2
3

In [66]:
for i in range(11):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8
9
10

In [68]:
for i in 'okinawa':
    print(i)

o
k
i
n
a
w
a

In [71]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    print(str.upper(i))

OKINAWA
TOKYO
OSAKA
FUKUOKA
HOKKAIDO

In [74]:
a = 0
while a <= 9:
    print(a)
    a += 1

0
1
2
3
4
5
6
7
8
9